<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <!--    <meta name="viewport" content="width=device-width,initial-scale=1">-->
    <meta name="viewport" content="width=device-width,inital-scale=1.0,user-scalable=no;">
    <title>Customer Satisfaction Survey</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
    <style>
        .box{
            padding: 10px 20px;
        }
        .opt{
            margin-top: 10px;
        }
        .magic-checkbox+label{
            padding-top: 2.2px;
        }
        .submit{
            text-align: center;
        }
        .submit .btn{
            width: 120px;
        }


    </style>
</head>
<body>
<img src="/images/header.png" class="header">

<div class="container que">
    <form id="ajax_form">
        <input name="user_id" type="hidden">
        <div class="form-group" id="box">
            <div class="box" v-for="(v, k) in question">
                <p>{{v.content}}</p>
                <!-- 多选题 -->
                <template v-if="v.type == 2">
                    <template v-for="(vv, kk) in v.children">
                        <div class="opt">
                            <input v-bind:name="'answer.'+v.id+'.'+vv.id" v-bind:value="vv.id"
                                   class="magic-checkbox" type="checkbox"
                                   v-bind:id="'c8-'+vv.id">
                            <label v-bind:for="'c8-'+vv.id">
                                {{vv.content}}
                                <template v-if="vv.type == 2">
                                    : <input v-bind:name="'answer_text.'+v.id+'.'+vv.id"
                                             type="text">
                                </template>
                            </label>
                        </div>
                    </template>
                </template>
                <template v-if="v.type == 1">
                    <template v-for="(vv, kk) in v.children">
                        <div class="opt">
                            <input v-bind:name="'answer.'+v.id" v-bind:value="vv.id"
                                   class="magic-checkbox" type="radio"
                                   v-bind:id="'c8-'+vv.id">
                            <label v-bind:for="'c8-'+vv.id">
                                {{vv.content}}
                                <template v-if="vv.type == 2">
                                    : <input v-bind:name="'answer_text.'+v.id+'.'+vv.id"
                                             type="text">
                                </template>
                            </label>
                            <template v-for="(vvv, kkk) in vv.children">
                                <div class="" style="margin-left: 20px;margin-top: 10px;">
                                    <input v-bind:name="'answer.'+v.id+'.'+vv.id+'.'+vvv.id"
                                           v-bind:value="vvv.id"
                                           class="magic-checkbox" type="checkbox"
                                           v-bind:id="'c8-'+vvv.id">
                                    <label v-bind:for="'c8-'+vvv.id">
                                        {{vvv.content}}
                                        <template v-if="vvv.type == 2">
                                            : <input
                                                v-bind:name="'answer_text.'+v.id+'.'+vv.id+'.'+vvv.id"
                                                     type="text">
                                        </template>
                                    </label>
                                </div>
                            </template>
                        </div>
                    </template>
                </template>
                <!-- 简答题 -->
                <template v-if="v.type == 3">
                    <textarea v-bind:name="'answer.'+v.id+''" class="text" rows="5"></textarea>
                </template>
            </div>
            <div class="submit">
                <button class="btn btn-lg" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

<img src="/images/footer.png" class="footer">

<script src="/scripts/vendor.js"></script>

<script src="/scripts/plugins.js"></script>

<script src="/scripts/main.js"></script>
<script src="/scripts/vue.js"></script>
<script src="/scripts/sweetalert.min.js"></script>
<link rel="stylesheet" href="/styles/sweetalert.css">

<script type="text/javascript" charset="utf-8">
    $(function () {
        $("input[name='user_id']").val(window.localStorage.getItem("user_id"));
        var app = new Vue({
            el: '#box',
            data: {
                question: []
            },
            methods: {
                initSurveyQuestion: function () {
                    var _this = this;
                    $.ajax({
                        type: 'GET',
                        url: '/survey_question',
                        success:function(data){
                            _this.question = data;
                        },
                        error:function(){
                            //请求出错处理
                            sweetAlert("", 123, "error");
                        }
                    });
                }
            }
        });
        app.initSurveyQuestion();

        $("#ajax_form").submit(function () {
            var _this = $(this);
            $.ajax({
                type: 'POST',
                url: '/survey_log',
                data: _this.serialize(),
                success:function(data){
                    window.localStorage.removeItem("user_id");
                    window.location.href = "/register.html";
                },
                error:function(XMLHttpRequest){
                    //请求出错处理
                    sweetAlert("", XMLHttpRequest.responseText, "error");
                }
            });
            return false;
        });
    });


</script>
</body>
</html>
